#div1 {
    width: 369px;
    height: 89px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#headDiv{
    height: 75px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}

.toggle label {
	position: relative;
	display: inline-block;
	width: 10em;
	height: 3.5em;
}

.toggle input {
	display: none;
}

.toggle .slider {
	/* Grundfläche */
	
	position: absolute;
	cursor: pointer;
	top: 1.5em;
	left: 2em;
	width: 4em;
	height: 2em;
	background-color: #c32e04;
	/* red */
	
	transition: all .3s ease-in-out;
	border-radius: 1em;
}

.toggle .slider:before {
	/* verschiebbarer Button */
	
	position: absolute;
	content: "";
	height: 1.6em;
	width: 1.6em;
	left: 0.2em;
	bottom: 0.2em;
	background-color: white;
	border-radius: 50%;
	transition: all .3s ease-in-out;
}

.toggle input:checked + .slider {
	background-color: #5a9900;
	/* green */
}

.toggle input:focus + .slider {
	background-color: pink;
	box-shadow: 0 0 1px #5a9900;
}

.toggle input:checked + .slider:before {
	-webkit-transform: translateX(1.9em);
	/* Android 4 */
	
	-ms-transform: translateX(1.9em);
	/* IE9 */
	
	transform: translateX(1.9em);
}

.text .slider:after {
	/* Text vor dem FlipFlop-Schalter */
	
	position: absolute;
	content: "AUS";
	color: #c32e04;
	font-weight: bold;
	height: 1.6em;
	left: -2.5em;
	bottom: 0.2em;
}

.text input:checked + .slider:after {
	/* Text hinter dem FlipFlop-Schalter */
	
	position: absolute;
	content: "AN";
	color: #5a9900;
	left: 4.5em;
}

.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.button1 {background-color: #ca2a2a}
.button2 {background-color: #372db6}
.button3 {background-color: #c5ba1f}
.button4 {background-color: #4CAF50}
.sequence{background-color: grey}

.konsole{
	border-width:2px;
	border-style:solid;
	border-color:black;
	border-radius: 25px;
}

html,body{
	min-height:100%; /* normale Browser */
}